$govuk-assets-path: "/eligibility-for-setting-up-company/assets/lib/govuk-frontend/dist/govuk/assets/";
$hmrc-assets-path: "/eligibility-for-setting-up-company/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/dist/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";
@import "header-adjust";

.app-reference-number {
  display: block;
  font-weight: bold;
}