@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import controllers.routes._
@import models.Mode

@(appConfig: FrontendAppConfig, form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@main_template(
    title = messages("sampleStringPage.title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = SampleStringPageController.onSubmit(mode), 'autoComplete -> "off") {

        @components.back_link()

        @components.error_summary(form.errors)

        @components.heading("sampleStringPage.heading")

        @components.input_text(
          field = form("value"),
          label = messages("sampleStringPage.heading"),
          labelClass=Some("visually-hidden")
        )

        @components.submit_button()
    }
}
